<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android" id="cordova-plugin-kord-audio" version="1.0.16">
      
    <name>KORDaudio</name>
    <author>Avigdor Susana and Frank Mendez</author>
	<description>KORD Audio</description>
    
	<license>MIT</license>
	<keywords></keywords>
    <repo>https://github.com/avigdorsusana/cordova-plugin-kord-audio.git</repo>
    <issue>https://github.com/avigdorsusana/cordova-plugin-kord-audio/issues</issue>

	<js-module name="hello" src="www/kord.audio.js">
		<clobbers target="cordova.plugin.kord.audio" />
	</js-module>

	<platform name="ios">
		<config-file target="config.xml" parent="/*">
            <feature name="Echo">
                <param name="ios-package" value="Echo"/>
            </feature>
        </config-file>

        <header-file src="src/ios/Echo.h" />
        <source-file src="src/ios/Echo.m" />


		<config-file parent="/*" target="config.xml">
			<feature name="KORDaudio">
				<param name="ios-package" value="com.playkord.cordova.plugin.kord.audio" />
			</feature>
		</config-file>
		
		<header-file src="src/ios/kord.audio.h" />
        <source-file src="src/ios/kord.audio.m" />
	</platform>

	<platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="Echo" >
                <param name="android-package" value="org.apache.cordova.plugin.Echo"/>               
            </feature>
        </config-file>

        <source-file src="src/android/Echo.java" target-dir="src/org/apache/cordova/plugin" />        
    </platform>

    <!-- browser -->
    <!--<platform name="browser">
        <js-module name="NativeAudioBrowser" src="www/nativeaudio-browser.js">
            <clobbers target="cordova.plugins.NativeAudio" />
			<clobbers target="plugins.NativeAudio" />
		</js-module>
    </platform>-->

</plugin>
